name: Build & Deploy eestimetsamaakler.ee
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./build    # Changed from ./out to ./build
  
  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    needs: build
    
    environment:
      name: production
      url: https://eestimetsamaakler.ee
    
    steps:
    - name: Download Build Artifact
      uses: actions/download-artifact@v4
      with:
        name: production-files
        path: ./build    # Changed from ./out to ./build

    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -t rsa,ecdsa,ed25519 -H ${{ secrets.HOST_SERVER_IP }} >> ~/.ssh/known_hosts
    
    - name: Copy files to server
      run: |
        # Use ./build/ as the source and ensure the target path is correct
        rsync -vrm --delete -e "ssh -o StrictHostKeyChecking=accept-new" ./build/ ${{ secrets.SSH_LOGIN_CREDS }}@${{ secrets.HOST_SERVER_IP }}:/data01/virt79242/domeenid/www.erametsaselts.ee/eestimetsamaakler.ee
