name: Build & Deploy to Zone

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to main
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Specify your node version here

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Upload built files
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./dist    

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    
    environment:
      name: production
      url: https://eestimetsamaakler.ee
    
    steps:
      - name: Download built files
        uses: actions/download-artifact@v4
        with:
          name: production-files
          path: ./dist
    
      - name: Connect to server over SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.HOST_SERVER_IP }} >> ~/.ssh/known_hosts
    
      - name: Deploy built site
        run: |
          # Ensure the path below matches your Zone.ee virtual server structure
          rsync -avz --delete ./dist/ ${{ secrets.SSH_LOGIN_CREDS }}:/data01/virt79242/domeenid/www.erametsaselts.ee/htdocs/
